* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #6d6969;
}

.wrapper {
	width: 69.5vw;
	height: 74vh;
	margin: 3vh auto 0;
	padding: 2vh 0 2vh 0;
}

.container {
	background-color: #423c3c;
	width: 74.5vw;
	height: 83vh;
	margin: 0 auto;
}

.slider {
	width: inherit;
	height: inherit;
	border-radius: 3%;
	border: 2px solid rgb(2, 2, 2);
	overflow: hidden;
}

.slides {
	height: inherit;
	width: inherit;
	opacity: 0;
	transform: scale(1);
	transition: transform ease-in-out 0.5s, opacity ease-in-out 0.5s;
}

img {
	width: inherit; 
	height: inherit;
}

.wrapper > input {
	display: none;
}

.controls {
	margin: -1.5vh 0 0 0;
	display: flex;
	justify-content: end;
}

.controls label {
	display: inline-block;
	width: 15px;
	height: 15px;
	cursor: pointer;
	margin: 0 5px;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.8);
	border-radius: 50%;
	border: 1px solid #ffffff;
	background-color: #fcfafa;
	transition: ease-in-out 0.5s;
}

.button {
	width: 22px;
	height: 22px;
	background-color: transparent;
	cursor: pointer;
	margin-top: -4px;
	margin-left: -4px;
}

.text {
	display: none;
	width: 40vw;
}

.text p {
	margin-top: 15px;
	font-style: italic;
	font-size: 2rem;
	color: rgb(255, 255, 255);
	transition: ease-in-out 0.5s;
}

.controls label:hover {
	background-color: rgb(99, 98, 98);
}

#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4) {
	background-color: rgb(7, 7, 7);
}

#slide1:checked ~ .slider > .slide1 {
	opacity: 1;
}

#slide2:checked ~ .slider > .slide2 {
	opacity: 1;
	margin-top: -74vh;
	transform: scale(1);
}

#slide3:checked ~ .slider > .slide3{
	opacity: 1;
	margin-top: -148vh;
	transform: scale(1);
}

#slide4:checked ~ .slider > .slide4{
	opacity: 1;
	margin-top: -222vh;
	transform: scale(1);
}




#slide1:checked ~ .text1 {
	display: block;
	animation-name: open;
	animation-duration: 0.5s;
}

#slide2:checked ~ .text2 {
	display: block;
	animation-name: open;
	animation-duration: 0.5s;
}

#slide3:checked ~ .text3 {
	display: block;
	animation-name: open;
	animation-duration: 0.5s;
}

#slide4:checked ~ .text4 {
	display: block;
	animation-name: open;
	animation-duration: 0.5s;
}


@keyframes open {
	0% {
	  display: block;
	  opacity: 0;
	  visibility: hidden;
	  font-size: 0px;
	}
	100% {
	  display: block;
	  opacity: 1;
	  visibility: visible;
	  font-size: 20px;
	}
 }







 @media (max-width: 1920px) {
	.wrapper {
		width: 69.5vw;
		height: 74vh;
		margin: 3vh auto 0;
		padding: 2vh 0 2vh 0;
	}
	
	.container {
		width: 74.5vw;
		height: 83vh;
	}
	
	.slider {
		border-radius: 3%;
	}
	
	.controls {
		margin: -1.9vh 0 0 0;
	}
	
	.controls label {
		width: 1vw;
		height: 1.8vh;
		margin: 0 0.5vw;
	}
	
	.button {
		width: 1.8vw;
		height: 4vh;
		margin-top: -1vh;
		margin-left: -0.5vw;
	}
	
	.text {
		width: 40vw;
	}
	
	.text p {
		margin-top: 1.5vh;
		font-size: 2rem;
	}
	
	#slide2:checked ~ .slider > .slide2 {
		margin-top: -74vh;
	}
	
	#slide3:checked ~ .slider > .slide3{
		margin-top: -148vh;
	}
	
	#slide4:checked ~ .slider > .slide4{
		margin-top: -222vh;
	}	
	
	@keyframes open {
		0% {
		  display: block;
		  opacity: 0;
		  visibility: hidden;
		  font-size: 0px;
		}
		100% {
		  display: block;
		  opacity: 1;
		  visibility: visible;
		  font-size: 2rem;
		}
	 }
 }

 



 @media (max-width: 1500px) {
	.wrapper {
		width: 60vw;
		height: 83.6vh;
		margin: 3vh auto 0;
		padding: 2vh 0 2vh 0;
	}
	
	.container {
		width: 66vw;
		height: 95vh;
	}
	
	.slider {
		border-radius: 3%;
	}
	
	.controls {
		margin: -2.1vh 0 0 0;
	}
	
	.controls label {
		width: 1vw;
		height: 2.3vh;
		margin: 0 0.5vw;
	}
	
	.button {
		width: 1.8vw;
		height: 4vh;
		margin-top: -1vh;
		margin-left: -0.5vw;
	}
	
	.text {
		width: 40vw;	
	}
	
	.text p {
		margin-top: 1.8vh;
		font-size: 1.5rem;
	}
	
	#slide2:checked ~ .slider > .slide2 {
		margin-top: -83.6vh;
	}
	
	#slide3:checked ~ .slider > .slide3{
		margin-top: -167.2vh;
	}
	
	#slide4:checked ~ .slider > .slide4{
		margin-top: -250.8vh;
	}	
	
	@keyframes open {
		0% {
		  display: block;
		  opacity: 0;
		  visibility: hidden;
		  font-size: 0px;
		}
		100% {
		  display: block;
		  opacity: 1;
		  visibility: visible;
		  font-size: 1.5rem;
		}
	 }
 }



 @media (max-width: 1485px) {
	.wrapper {
		width: 60.5vw;
		height: 83.5vh;
		margin: 3vh auto 0;
		padding: 2vh 0 2vh 0;
	}
	
	.container {
		width: 66vw;
		height: 95vh;
	}
	
	.slider {
		border-radius: 3%;
	}
	
	.controls {
		margin: -2.1vh 0 0 0;
	}
	
	.controls label {
		width: 1vw;
		height: 2.3vh;
		margin: 0 0.5vw;
	}
	
	.button {
		width: 1.8vw;
		height: 4vh;
		margin-top: -1vh;
		margin-left: -0.5vw;
	}
	
	.text {
		width: 40vw;	
	}
	
	.text p {
		margin-top: 1.8vh;
		font-size: 1.5rem;
	}
	
	#slide2:checked ~ .slider > .slide2 {
		margin-top: -83.5vh;
	}
	
	#slide3:checked ~ .slider > .slide3{
		margin-top: -167vh;
	}
	
	#slide4:checked ~ .slider > .slide4{
		margin-top: -250.5vh;
	}	
	
	@keyframes open {
		0% {
		  display: block;
		  opacity: 0;
		  visibility: hidden;
		  font-size: 0px;
		}
		100% {
		  display: block;
		  opacity: 1;
		  visibility: visible;
		  font-size: 1.5rem;
		}
	 }
 }



 @media (max-width: 1440px) {
	.wrapper {
		width: 81vw;
		height: 78vh;
		margin: 3vh auto 0;
		padding: 2vh 0 2vh 0;
	}
	
	.container {
		width: 86vw;
		height: 88vh;
	}
	
	.slider {
		border-radius: 3%;
	}
	
	.controls {
		margin: -2.1vh 0 0 0;
	}
	
	.controls label {
		width: 1vw;
		height: 1.6vh;
		margin: 0 0.5vw;
	}
	
	.button {
		width: 1.8vw;
		height: 4vh;
		margin-top: -1vh;
		margin-left: -0.5vw;
	}
	
	.text {
		width: 40vw;	
	}
	
	.text p {
		margin-top: 1.8vh;
		font-size: 1.5rem;
	}
	
	#slide2:checked ~ .slider > .slide2 {
		margin-top: -78vh;
	}
	
	#slide3:checked ~ .slider > .slide3{
		margin-top: -156vh;
	}
	
	#slide4:checked ~ .slider > .slide4{
		margin-top: -234vh;
	}	
	
	@keyframes open {
		0% {
		  display: block;
		  opacity: 0;
		  visibility: hidden;
		  font-size: 0px;
		}
		100% {
		  display: block;
		  opacity: 1;
		  visibility: visible;
		  font-size: 1.5rem;
		}
	 }
 }




 
 @media (max-width: 1440px) {
	.wrapper {
		width: 81vw;
		height: 78vh;
		margin: 3vh auto 0;
		padding: 2vh 0 2vh 0;
	}
	
	.container {
		width: 86vw;
		height: 88vh;
	}
	
	.slider {
		border-radius: 3%;
	}
	
	.controls {
		margin: -2.1vh 0 0 0;
	}
	
	.controls label {
		width: 1vw;
		height: 1.6vh;
		margin: 0 0.5vw;
	}
	
	.button {
		width: 1.8vw;
		height: 4vh;
		margin-top: -1vh;
		margin-left: -0.5vw;
	}
	
	.text {
		width: 40vw;	
	}
	
	.text p {
		margin-top: 1.8vh;
		font-size: 1.5rem;
	}
	
	#slide2:checked ~ .slider > .slide2 {
		margin-top: -78vh;
	}
	
	#slide3:checked ~ .slider > .slide3{
		margin-top: -156vh;
	}
	
	#slide4:checked ~ .slider > .slide4{
		margin-top: -234vh;
	}	
	
	@keyframes open {
		0% {
		  display: block;
		  opacity: 0;
		  visibility: hidden;
		  font-size: 0px;
		}
		100% {
		  display: block;
		  opacity: 1;
		  visibility: visible;
		  font-size: 1.5rem;
		}
	 }
 }



 
 @media (max-width: 1351px) {
	.wrapper {
		width: 67vw;
		height: 83.6vh;
		margin: 3vh auto 0;
		padding: 2vh 0 2vh 0;
	}
	
	.container {
		width: 83vw;
		height: 93vh;
	}
	
	.slider {
		border-radius: 3%;
	}
	
	.controls {
		margin: -2.8vh 0 0 0;
	}
	
	.controls label {
		width: 1vw;
		height: 1.7vh;
		margin: 0 0.5vw;
	}
	
	.button {
		width: 1.8vw;
		height: 4vh;
		margin-top: -1vh;
		margin-left: -0.5vw;
		/* background-color: rgba(0, 0, 0, 0.5); */
	}
	
	.text {
		width: 40vw;
		/* background-color: #fff; */
	}
	
	.text p {
		margin-top: 1.8vh;
		font-size: 1.5rem;
	}
	
	#slide2:checked ~ .slider > .slide2 {
		margin-top: -83vh;
	}
	
	#slide3:checked ~ .slider > .slide3{
		margin-top: -166vh;
	}
	
	#slide4:checked ~ .slider > .slide4{
		margin-top: -249vh;
	}	
	
	@keyframes open {
		0% {
		  display: block;
		  opacity: 0;
		  visibility: hidden;
		  font-size: 0px;
		}
		100% {
		  display: block;
		  opacity: 1;
		  visibility: visible;
		  font-size: 1.5rem;
		}
	 }
 }

 
 @media (max-width: 1280px) {
	.wrapper {
		width: 78vw;
		height: 83vh;
		margin: 3vh auto 0;
		padding: 2vh 0 2vh 0;
	}
	
	.container {
		width: 83vw;
		height: 93vh;
	}
	
	.slider {
		border-radius: 3%;
	}
	
	.controls {
		margin: -2.1vh 0 0 0;
	}
	
	.controls label {
		width: 1vw;
		height: 1.7vh;
		margin: 0 0.5vw;
	}
	
	.button {
		width: 1.8vw;
		height: 4vh;
		margin-top: -1vh;
		margin-left: -0.5vw;
		/* background-color: rgba(0, 0, 0, 0.5); */
	}
	
	.text {
		width: 40vw;
		/* background-color: #fff; */
	}
	
	.text p {
		margin-top: 1.8vh;
		font-size: 1.5rem;
	}
	
	#slide2:checked ~ .slider > .slide2 {
		margin-top: -83vh;
	}
	
	#slide3:checked ~ .slider > .slide3{
		margin-top: -166vh;
	}
	
	#slide4:checked ~ .slider > .slide4{
		margin-top: -249vh;
	}	
	
	@keyframes open {
		0% {
		  display: block;
		  opacity: 0;
		  visibility: hidden;
		  font-size: 0px;
		}
		100% {
		  display: block;
		  opacity: 1;
		  visibility: visible;
		  font-size: 1.5rem;
		}
	 }
 }



 @media (max-width: 1024px) {
	.wrapper {
		width: 81.5vw;
		height: 65vh;
		margin: 3vh auto 0;
		padding: 2vh 0 2vh 0;
	}
	
	.container {
		width: 85vw;
		height: 75vh;
	}
	
	.slider {
		border-radius: 3%;
	}
	
	.controls {
		margin: -2.1vh 0 0 0;
	}
	
	.controls label {
		width: 1vw;
		height: 1.4vh;
		margin: 0 0.5vw;
	}
	
	.button {
		width: 1.8vw;
		height: 4vh;
		margin-top: -1vh;
		margin-left: -0.5vw;
		/* background-color: rgba(0, 0, 0, 0.5); */
	}
	
	.text {
		width: 40vw;
		/* background-color: #fff; */
	}
	
	.text p {
		margin-top: 1.8vh;
		font-size: 1.5rem;
	}
	
	#slide2:checked ~ .slider > .slide2 {
		margin-top: -65vh;
	}
	
	#slide3:checked ~ .slider > .slide3{
		margin-top: -130vh;
	}
	
	#slide4:checked ~ .slider > .slide4{
		margin-top: -195vh;
	}	
	
	@keyframes open {
		0% {
		  display: block;
		  opacity: 0;
		  visibility: hidden;
		  font-size: 0px;
		}
		100% {
		  display: block;
		  opacity: 1;
		  visibility: visible;
		  font-size: 1.5rem;
		}
	 }
 }




 
 @media (max-width: 768px) {
	.wrapper {
		width: 87vw;
		height: 39vh;
		margin: 3vh auto 0;
		padding: 2vh 0 2vh 0;
	}
	
	.container {
		width: 92vw;
		height: 50vh;
	}
	
	.slider {
		border-radius: 3%;
	}
	
	.controls {
		margin: -4.5vh 0 0 0;
		justify-content: center;
	}
	
	.controls label {
		width: 2vw;
		height: 1.5vh;
		margin: 0 0.5vw;
	}
	
	.button {
		width: 2.8vw;
		height: 3vh;
		margin-top: -0.8vh;
		margin-left: -0.5vw;
		/* background-color: rgba(0, 0, 0, 0.5); */
	}
	
	.text {
		width: 50vw;
		/* background-color: #fff; */
	}
	
	.text p {
		margin-top: 4.8vh;
		font-size: 1.2rem;
	}
	
	#slide2:checked ~ .slider > .slide2 {
		margin-top: -39vh;
	}
	
	#slide3:checked ~ .slider > .slide3{
		margin-top: -78vh;
	}
	
	#slide4:checked ~ .slider > .slide4{
		margin-top: -117vh;
	}	
	
	@keyframes open {
		0% {
		  display: block;
		  opacity: 0;
		  visibility: hidden;
		  font-size: 0px;
		}
		100% {
		  display: block;
		  opacity: 1;
		  visibility: visible;
		  font-size: 1.2rem;
		}
	 }
 }




 @media (max-width: 640px) {
	.wrapper {
		width: 73vw;
		height: 78vh;
		margin: 3vh auto 0;
		padding: 2vh 0 2vh 0;
	}
	
	.container {
		width: 83vw;
		height: 95vh;
	}
	
	.slider {
		border-radius: 3%;
	}
	
	.controls {
		margin: -8.55vh 0 0 0;
		justify-content: center;
	}
	
	.controls label {
		width: 2vw;
		height: 3.55vh;
		margin: 0 0.5vw;
	}
	
	.button {
		width: 2.8vw;
		height: 3vh;
		margin-top: -0.8vh;
		margin-left: -0.5vw;
		/* background-color: rgba(0, 0, 0, 0.5); */
	}
	
	.text {
		width: 50vw;
		/* background-color: #fff; */
	}
	
	.text p {
		margin-top: 6.8vh;
		font-size: 1rem;
	}
	
	#slide2:checked ~ .slider > .slide2 {
		margin-top: -78vh;
	}
	
	#slide3:checked ~ .slider > .slide3{
		margin-top: -156vh;
	}
	
	#slide4:checked ~ .slider > .slide4{
		margin-top: -234vh;
	}	
	
	@keyframes open {
		0% {
		  display: block;
		  opacity: 0;
		  visibility: hidden;
		  font-size: 0px;
		}
		100% {
		  display: block;
		  opacity: 1;
		  visibility: visible;
		  font-size: 1rem;
		}
	 }
 }





 @media (max-width: 360px) {
	.wrapper {
		width: 97vw;
		height: 33vh;
		margin: 4vh auto 0;
		padding: 0;
	}
	
	.container {
		width: 99vw;
		height: 45vh;
	}
	
	.slider {
		border-radius: 3%;
	}
	
	.controls {
		margin: -6.55vh 0 0 0;
		justify-content: center;
	}
	
	.controls label {
		width: 3vw;
		height: 1.7vh;
		margin: 0 1vw;
	}
	
	.button {
		width: 4.2vw;
		height: 3vh;
		margin-top: -0.8vh;
		margin-left: -0.5vw;
		/* background-color: rgba(0, 0, 0, 0.5); */
	}
	
	.text {
		width: 90vw;
		/* background-color: #fff; */
	}
	
	.text p {
		margin-top: 6.8vh;
		font-size: 1rem;
	}
	
	#slide2:checked ~ .slider > .slide2 {
		margin-top: -33vh;
	}
	
	#slide3:checked ~ .slider > .slide3{
		margin-top: -66vh;
	}
	
	#slide4:checked ~ .slider > .slide4{
		margin-top: -99vh;
	}	
	
	@keyframes open {
		0% {
		  display: block;
		  opacity: 0;
		  visibility: hidden;
		  font-size: 0px;
		}
		100% {
		  display: block;
		  opacity: 1;
		  visibility: visible;
		  font-size: 1rem;
		}
	 }
 }