* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #6d6969;
}

.wrapper {
	width: 56vw;
	height: 78vh;
	margin: 30px auto 0;
	padding: 20px 0 20px 0;
}

.container {
	background-color: #423c3c;
	width: 65vw;
	height: 90vh;
	margin: 0 auto;
}

.slider {
	width: inherit;
	height: inherit;
	border-radius: 3%;
	border: 2px solid rgb(2, 2, 2);
	overflow: hidden;
}

.slides {
	height: inherit;
	width: inherit;
	opacity: 0;
	transform: scale(1);
	transition: transform ease-in-out 0.5s, opacity ease-in-out 0.5s;
}

img {
	width: inherit; 
	height: inherit;
}

.wrapper > input {
	display: none;
}

.controls {
	margin: 35px 4vw 0 0;
	display: flex;
	justify-content: end;
}

.controls label {
	display: inline-block;
	width: 15px;
	height: 15px;
	cursor: pointer;
	margin: 0 5px;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.8);
	border-radius: 50%;
	border: 1px solid #1d2832;
	background-color: #fcfafa;
	transition: background ease-in-out 0.5s;
}

.button {
	width: 22px;
	height: 22px;
	background-color: transparent;
	cursor: pointer;
	margin-top: -4px;
	margin-left: -4px;
}

.text {
	display: none;
}

.text p {
	margin-top: 15px;
	font-style: italic;
	font-size: 20px;
	color: rgb(255, 255, 255);
	transition: ease-in-out 0.5s;
}

.controls label:hover {
	background-color: rgb(80, 81, 80);
}

#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4) {
	background-color: rgb(32, 114, 2);
}

#slide1:checked ~ .slider > .slide1 {
	opacity: 1;
}

#slide2:checked ~ .slider > .slide2 {
	opacity: 1;
	margin-top: -78vh;
	transform: scale(1);
}

#slide3:checked ~ .slider > .slide3{
	opacity: 1;
	margin-top: -156vh;
	transform: scale(1);
}

#slide4:checked ~ .slider > .slide4{
	opacity: 1;
	margin-top: -234vh;
	transform: scale(1);
}




#slide1:checked ~ .text1 {
	display: block;
	animation-name: open;
	animation-duration: 0.5s;
}

#slide2:checked ~ .text2 {
	display: block;
	animation-name: open;
	animation-duration: 0.5s;
}

#slide3:checked ~ .text3 {
	display: block;
	animation-name: open;
	animation-duration: 0.5s;
}

#slide4:checked ~ .text4 {
	display: block;
	animation-name: open;
	animation-duration: 0.5s;
}


@keyframes open {
	0% {
	  display: block;
	  opacity: 0;
	  visibility: hidden;
	  font-size: 0px;
	}
	100% {
	  display: block;
	  opacity: 1;
	  visibility: visible;
	  font-size: 20px;
	}
 }